*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Arial;
    background-image: url(Redman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Main-menu{
    background:rgba(231, 222, 231, 0.1);
    border-top: .3px solid rgba(255, 255, 255, 0.2);
    border-bottom: .3px solid rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0;
}
.Main-menu ul{
    float: right;
    margin-right: 20px;
}
.Main-menu ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
}
.Main-menu ul li a{
    color:#f6b93b;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
}
label.logo{
    color:white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 80px;
    font-weight: bold;
    font-family:Viner Hand ITC;
}
a.active,a:hover{
    background: #576574;
    transition: .5s;
}
footer p{
    text-align: center;
    background: #0a3d62;
    padding: 50px;
    margin-top: 100px;
}
